parameters:
	ignoreErrors:
		-
			message: "#^Instanceof between pocketmine\\\\inventory\\\\PlayerOffHandInventory and pocketmine\\\\inventory\\\\PlayerOffHandInventory will always evaluate to true\\.$#"
			count: 1
			path: ../../src/InventoryRecordHolder.php

		-
			message: "#^Method jasonwynn10\\\\InventoryRollbacks\\\\InventoryRecordHolder\\:\\:getPreviousTimestamp\\(\\) should return int but returns int\\|string\\.$#"
			count: 1
			path: ../../src/InventoryRecordHolder.php

		-
			message: "#^Property jasonwynn10\\\\InventoryRollbacks\\\\InventoryRecordHolder\\:\\:\\$armorInventories type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/InventoryRecordHolder.php

		-
			message: "#^Property jasonwynn10\\\\InventoryRollbacks\\\\InventoryRecordHolder\\:\\:\\$cursorInventories type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/InventoryRecordHolder.php

		-
			message: "#^Property jasonwynn10\\\\InventoryRollbacks\\\\InventoryRecordHolder\\:\\:\\$offHandInventories type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/InventoryRecordHolder.php

		-
			message: "#^Call to method getItemClicked\\(\\) on an unknown class muqsit\\\\invmenu\\\\transaction\\\\DeterministicInvMenuTransaction\\.$#"
			count: 2
			path: ../../src/Main.php

		-
			message: "#^Call to static method ACTOR_FIXED\\(\\) on an unknown class muqsit\\\\invmenu\\\\type\\\\util\\\\InvMenuTypeBuilders\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class muqsit\\\\invmenu\\\\InvMenu\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method generatePackFromResources\\(\\) on an unknown class libCustomPack\\\\libCustomPack\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method getTypeRegistry\\(\\) on an unknown class muqsit\\\\invmenu\\\\InvMenuHandler\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method isRegistered\\(\\) on an unknown class muqsit\\\\invmenu\\\\InvMenuHandler\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method readonly\\(\\) on an unknown class muqsit\\\\invmenu\\\\InvMenu\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method register\\(\\) on an unknown class muqsit\\\\invmenu\\\\InvMenuHandler\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method registerResourcePack\\(\\) on an unknown class libCustomPack\\\\libCustomPack\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Call to static method unregisterResourcePack\\(\\) on an unknown class libCustomPack\\\\libCustomPack\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Cannot call method getPackName\\(\\) on pocketmine\\\\resourcepacks\\\\ZippedResourcePack\\|null\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Parameter \\$transaction of anonymous function has invalid type muqsit\\\\invmenu\\\\transaction\\\\DeterministicInvMenuTransaction\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Property jasonwynn10\\\\InventoryRollbacks\\\\Main\\:\\:\\$languages type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Main.php

		-
			message: "#^Undefined variable\\: \\$player$#"
			count: 1
			path: ../../src/event/EventListener.php

		-
			message: "#^Call to an undefined static method jasonwynn10\\\\InventoryRollbacks\\\\InventoryRecordHolder\\:\\:writeInventoriesToDisk\\(\\)\\.$#"
			count: 1
			path: ../../src/task/SaveTransactionsTask.php

		-
			message: "#^Constructor of class jasonwynn10\\\\InventoryRollbacks\\\\task\\\\SaveTransactionsTask has an unused parameter \\$player\\.$#"
			count: 1
			path: ../../src/task/SaveTransactionsTask.php

		-
			message: "#^Constructor of class jasonwynn10\\\\InventoryRollbacks\\\\task\\\\SaveTransactionsTask has an unused parameter \\$plugin\\.$#"
			count: 1
			path: ../../src/task/SaveTransactionsTask.php

